.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App{
  margin: 0 auto;
}
.carouselContainer{
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 50vh;
  width: 95vw;
}
.imgContainer{
  margin: 3em auto 3em auto;
  max-width: 80%;
  height: 80%
}
.img{
 height: 100%;
 max-width: 100% ;
}
.btnContainer{
  height: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.arrowBtnContainer{

}
.btn{

}
.removeContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.removeContainer .btn{
  width: 5em;
  height: 5em;
  font-size: 10px;
}