.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App{
  margin: 0 auto;
  height: 50vh;
  width: 95vw;
}
.appTitle{
  text-align: center;
  margin: 1em 0 0 0;
}
.carouselContainer{
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
.imgContainer{
  margin: 3em auto 3em auto;
  max-width: 80%;
  height: 80%
}
.img{
 min-height: 100%;
 max-width: 100% ;
}
.btnContainer{
  height: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.arrowBtnContainer{
  margin: 1em;
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}
.btn{
 font-size: 2em;
}
.removeContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 70%;
}
.removeTitle{
  height: 60%;
  margin: 0;
}
.removeContainer .btn{
  height: 40%;
  /* width: 1.3em; */
  font-size: 1em;
}